.listOrder{
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    background-color: white;
}
.order-header{
    display: flex;
    border-bottom: 1.5px solid black;
    padding:5px;
    flex-direction: row;
    font-family: 'afacad';
    font-size: 20px;
    color:#747474;

}

.order-code span{
    display: flex;
    border-color: black;
    border-style: solid;
    margin:0px 30px;
}
.customer {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    /* margin:5px 30px; */
}
.customer span{
    display: flex;
    border-color: black;
    border-style: solid;
    margin:0px 30px;
}
.listOrder h2{
    margin: 10px 0;
    font-size: 20px;
    justify-content: flex-start;
    display: flex;
    color: black;
    font-family: 'Josefin Sans';
}
table{
    /* border-color: black;
    border-style: solid; */
    font-size: 18px;
    font-family: "josefin sans";
    margin-left: 10px;
    text-align: left;
    vertical-align: top;
    color:rgb(0, 0, 0);
}
.productPrice{
    padding-left:100px;
    
}
th{
vertical-align: top;
padding-left: 10px;
}

